extends ./layout
block content
    form(action='/adduser' method='post')
        .form-group.row
            label.col-sm-2.col-form-label(for='nombres') Nombres
            .col-sm-4
            input#nombres.form-control(name='nombres', type='text', placeholder='Nombres')
        .form-group.row
            label.col-sm-2.col-form-label(for='apellidos') Apellidos
            .col-sm-4
            input#apellidos.form-control(name='apellidos' type='text', placeholder='Apellidos')
        .form-group.row
            label.col-sm-2.col-form-label(for='email') Email
            .col-sm-10
            input#email.form-control(name='email' type='email', placeholder='Email')
        .form-group.row
            label.col-sm-2.col-form-label(for='fecha') Fecha de Nacimiento
            .col-sm-10
            input#fecha.form-control(name='fecha' type='date', placeholder='Fecha de Nacimiento')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputPassword1') Password
            .col-sm-10
            input#inputPassword1.form-control(name='clave' type='password', placeholder='Password')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputPassword2') Confirmar Password
            .col-sm-10
            input#inputPassword2.form-control(type='password', placeholder='Confirmar Password')
        .form-group.row
            .col-sm-10
            button.btn.btn-primary(type='submit') Guardar